<ul class="nav sticky-top navbar-light bg-light py-2">
    <li class="nav-item">
      <a class="nav-link active" href="/admin/books/borrowed">List of Rented Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/pending">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/list-books">List Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/register/user">Add New User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/list-users">List Users</a>
    </li>
    <li class="nav navbar-nav ml-auto">
      <a class="btn btn-danger" role="button" href="/admin/logout">Log Out</a>
    </li>
    
  </ul><br>
