<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/admin/books/borrowed">List of Borrowed Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/pending">Pending</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/list-books">List Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/register/user">Add New User</a>
    </li>
</ul><br>