<%- include('./partials/user-header') %>
<%- include('./partials/user-navbar') %>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hello, welcome to the Library</h1>
        <p class="lead">
            Viverra ipsum nunc aliquet bibendum enim. Elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere. Nec feugiat nisl pretium fusce id velit.        </p>
        <hr class="my-4">
        <p>Please Login using your Email and Password to continue.</p>
        <a class="btn btn-primary btn-lg" href="/user/login" role="button">Sign in</a>
    </div>
</div>
<%- include('./partials/user-footer') %>